.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form input {
  padding: 10px;
  margin: 10px 0;
}

.card {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.card-img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
body {
  font-family: 'Poppins', sans-serif;
}
